.input {
  border-color: SteelBlue;
  border-radius: 0.5em;
  transition: .4s linear;

  &:focus {
    border-color: RoyalBlue;
    background-color: White !important;
  }

  &:disabled {
    border-color: SlateBlue !important;
    background: linear-gradient(5deg, Thistle, Lavender, White, Thistle) !important;
    opacity: 0.9;
  }

  &--empty {background-color: Lavender;}
  &--filled {background-color: AntiqueWhite;}

  &--rejected {
    border-color: Crimson;
    background-color: Pink;
  }
}

@media screen and (pointer: fine) {
  .input {
    &:hover {background-color: LavenderBlush;}

    &--rejected:hover {background-color: MistyRose;}
  }
}
