.link {
  font-weight: bold;
  text-decoration: none;
  color: MediumBlue;

  &:focus {
    border-radius: 0.2em;
    color: Blue;
  }
}

@media screen and (pointer: fine) {
  .link:hover {color: RoyalBlue;}
}
