::-moz-selection,
::selection {
  background-color: PowderBlue;
  color: MidnightBlue;
  text-shadow: none;
}

body {caret-color: DarkViolet;}

a,
select,
textarea,
button,
input {
  &:focus {
    box-shadow: 0 0 0.2em 0.2em Violet !important;
  }
}

@media (pointer: fine) {
  select,
  textarea,
  button,
  input[type="submit"] {
    &:hover {color: MediumBlue;}
  }

  button,
  input,
  input[type="submit"] {
    &:disabled {
      cursor: not-allowed;
    }
  }
}

select,
textarea,
button,
input[type="submit"] {
  &:focus {
    text-decoration: underline;
    color: Blue;
  }
  &:active {color: RoyalBlue;}
}

button,
input,
input[type="submit"] {
  &:disabled {
    color: DarkSlateGrey;
    opacity: 0.8;
  }
}

input[type="submit"],
button {
  &:focus {outline: unset;}
}
